.Cruze{
    background-color:#708090;
}

.Leper{
    background-color:#DAA520;
}


.Doc{
    background-color: #006400;
}


.Ban{
    background-color: #4169E1;
}


.Jes{
    background-color: 	#8B0000;
}


.Ves{
    background-color: #8B4513;
}



  
  